.tarefa{
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  &.PENDENTE{
    border: 5px solid #f00;
    border-left: 20px solid #f00;
  }
  &.DESENVOLVENDO{
    border: 5px solid #00f;
    border-left: 20px solid #00f;
  }
  &.CONCLUIDO{
    border: 5px solid #0f0;
    border-left: 20px solid #0f0;
  }
}
