<!-- form.component.html -->
<div class="forms">
  <form [formGroup]="formColuna" (ngSubmit)="submitColuna(isEditMode ? 'PUT' : 'POST')">
    @if (isEditMode) {
      <div>
        <label for="id">ID:</label>
        <input id="id" type="text" formControlName="id" readonly>
      </div>
    }

    <div>
      <label for="nome">Nome:</label>
      <input id="nome" type="text" formControlName="nome">
      @if (formColuna.get('nome')?.invalid && formColuna.get('nome')?.touched) {
        <div class="error">
          Nome é obrigatório
        </div>
      }
    </div>

    <div>
      <label for="email">Email:</label>
      <input id="email" type="email" formControlName="email">
      @if (formColuna.get('email')?.invalid && formColuna.get('email')?.touched) {
        <div class="error">
          Email inválido
        </div>
      }
    </div>

    <div>
      <label for="telefone">Telefone:</label>
      <input id="telefone" type="tel" formControlName="telefone">
      @if (formColuna.get('telefone')?.invalid && formColuna.get('telefone')?.touched) {
        <div class="error">
          Telefone inválido (10 ou 11 dígitos)
        </div>
      }
    </div>

    <div class="buttons">
      <button type="submit">{{ isEditMode ? 'Atualizar' : 'Criar' }}</button>

      <button type="button" (click)="submitColuna('DELETE')" [disabled]="!isEditMode">
        Deletar
      </button>

      <button type="button" (click)="formColuna.reset()">Limpar</button>
    </div>
  </form>
</div>

@for (item of colunas; track $index) {
  <app-coluna
    [coluna]="item"
  ></app-coluna>
}
