.coluna{
  border-radius: 20px;
  width: 500px;
  height: 500px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  &.LARANJA{
    border: 5px solid #FE8330;
  }
  &.VERDE{
    border: 5px solid #009000;
  }
  &.AMARELO{
    border: 5px solid #FFE135;
  }
  &.VERMELHO{
    border: 5px solid #FF0000;
  }
  .tarefas{
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: scroll;
    height: 100%;
  }
}
